* {
	margin: 0;
	box-sizing: border-box;
}

:root {
        --dark_color: black;
        --txt_color: gray;
}

html {
	display: block;
	font-family: monospace;
        font-size: 16px;
}

body {
        display: block;
        background: black;
        font-size: 16px;
        line-height: 1.4;
        color: var(--txt_color);
}

/* header-area */
.header-area {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        border-bottom: 1px dotted gray;
        padding: .5rem 0rem;
        display: block;
        align-items: center;
        justify-content: center;
        background: var(--dark_color);
}

/* nav-area */
.nav-area {
        display: block;
        align-items: center;
        width: 400px;
        margin: 0 auto;
}

.nav-area__item {
        display: block;
}

.nav-link {
        text-transform: uppercase;
        font-size: .75rem;
}

/* main-area */
.main-area {
        padding-top: 6rem;
        display: block;
        margin: 0 auto;
        width: 400px
}

.feed_area {
        display: block;
        width: 400px;
}

/* post-area */
.post-area {
        display: block;
        margin-bottom: .5rem;
}

/* post-area__header*/
.post-header {
        font-size: .8rem;
        text-transform: uppercase;
        text-decoration: underline;
}

.header-link-area {
        display: block;
}

.header-time-area {
        display: block;
}

.time-label {
        font-size: .6rem;
}

.bait-label {
        font-size: .8rem;
        text-transform: uppercase;
}

/* post-area__body */
.post-area__body {
        font-size: .7rem;
}

.header__time {
        font-size: .75rem;
}

/* footer-area */
.footer-area {
        display: block;
        width: 400px;
        margin: 0 auto;
}

.footer-link {
        font-size: .75rem;
        text-transform: uppercase;
}

.legal-note {
        text-transform: uppercase;
        font-size: .6rem;
}
