* {
	margin: 0;
	box-sizing: border-box;
}

:root
{
	--dark_color: black;
	--txt_color: #f8f8ff;
	--muted_txt_color: #9ca3af;
	--content-area-width: min(92vw, 42rem);
}

html
{
	display: block;
	font-family: monospace;
    font-size: 16px;
}

body 
{
	display: block;
	background: black;
	font-size: 18px;
	line-height: 1.4;
	color: var(--txt_color);
	padding-bottom: 2rem;
}

/* header-area */
.header-area 
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	border-bottom: 1px dotted gray;
	padding: .5rem 0rem;
	display: block;
	align-items: center;
	justify-content: center;
	background: var(--dark_color);
}

/* nav-area */
.nav-area
{
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: center;
	width: var(--content-area-width);
	margin: 0 auto;
}

.nav-area__item
{
	display: block;
}

.nav-link
{
	color: var(--txt_color);
    text-transform: uppercase;
    font-size: .75rem;
    text-decoration: none;
    opacity: .85;
}

.nav-link:hover,
.nav-link:focus-visible,
.nav-link.is-active,
.nav-link:active
{
	color:white;
	opacity: 1;
	text-decoration: underline;
}

/* main-area */
.main-area
{
	padding-top: 6rem;
	display: block;
	margin: 0 auto;
	width: var(--content-area-width);
}

.feed-area 
{
	display: block;
	width: 100%;
}

/* post-area */
.post-area
{
    display: block;
	margin-bottom: .75rem;
}

/* post-area__header*/
.post-area__header
{
	display: block;
	margin-bottom: .25rem;
}

.header-link-area 
{
    display: block;
}

.header-time-area
{
	display: block;
}

.time-label 
{
	font-size: .6rem;
	color: var(--muted_txt_color);
}

.bait-label
{
	font-size: .8rem;
	text-transform: uppercase;
	color: #fbfcf8;
}

/* post-area__body */
.post-area__body
{
	font-size: .7rem;
	max-width: 75ch;
}

.header__time 
{
	font-size: .75rem;
}

/* footer-area */
.footer-area 
{
	display: block;
	width: var(--content-area-width);
	margin: 0 auto;
	border-top: .05rem gray dashed;
	padding-top: 1rem;
}

.footer-link 
{
	color: var(--txt_color);
	font-size: .75rem;
	text-transform: uppercase;
}

.legal-note
{
	margin-top: .5rem;
	text-transform: uppercase;
	font-size: .6rem;
}
